<a href="https://colab.research.google.com/github/RadhavaramHarika/Harika_INFO5731_Spring2020/blob/master/Copy_of_In_class_exercise_Harika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:

# Using funtion to calculate the length of a string
def stringLength(string_var):
  return len(string_var)

def str_calc_length(samp_str):
  count = 0
  for i in samp_str:
    count += 1
  return count

# Creating an input string and calling above function
example_string= "Hello World"
print('Length of the string is :', str_calc_length(example_string))
print('Length of the string using len func :', stringLength(example_string))

Length of the string is : 11
Length of the string using len func : 11

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here

# Using funtion to count the number of characters in a string
def numberOfChars(name_String):
  char_dict = dict()
  for i in name_String:
    count = 0
    for s in name_String:
      if i == s:
        count += 1
    char_dict[i] = count
  return char_dict

# Declaring an input string and calling above function
string1 = "google.com"
print("Expected Result:", numberOfChars(string1))

Expected Result: {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [0]:
# write your answer here

# Using funtion to count the number of characters in a string
def numberOfChars(name_String):
  char_dict = dict()
  for i in name_String:
    count = 0
    for s in name_String:
      if i == s:
        count += 1
    char_dict[i] = count
  return char_dict

# Declaring an input string and calling above function
string1 = "google.com"
print("result:", numberOfChars(string1))

result: {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
# write your answer here

# Using funtion to sum all the items in a list
def sumOfList(eg_List):
  sum = 0
  for i in eg_List:
    sum = sum+i
  return sum;

# Creating an input list and calling above function
list1 = [i for i in range(1,16)]
print('Given list : ', list1)
print('Sum of all items in above list : ', sumOfList(list1))

Given list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Sum of all items in above list :  120

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here

# Using funtion to replace all occurences except first char to '$'
def str_MultipleCharOccur_Replace(sample_str):
  str_insenstive = sample_str.casefold()
  replaced_str = ""
  for i in range(len(str_insenstive)):
    if str_insenstive[i] == str_insenstive[0] and i != 0:
      replaced_str += '$'
    else:
      replaced_str += sample_str[i]
  return replaced_str

#Calling the above function and printing its results
print("Result from replacing all occurence of first char with $ is : \n", str_MultipleCharOccur_Replace("Restart"))

Result from replacing all occurence of first char with $ is :
 Resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
# write your answer here

# Using funtion to throw 'Divide by Zero' error
def error(error_desc):
  print(error_desc)
  return

# Using funtion to accept two parameters to calculate the given output
def calculate_S(a, b):
  if b == 0:
    error("Runtime Error: Attempt to divide by zero")
  return 3.14 * (1 + a/b)**3

#intializing a & b variables through keyboard input
parameter_a = int(input("Please enter a value for a : "))
parameter_b = int(input("Please enter a value for b : "))

#Calling the above functions and printing results 
print(" Expected result : ", calculate_S(parameter_a, parameter_b))

Please enter a value for a : 2
Please enter a value for b : 3
 Expected result :  14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here

# Using funtions to concatenate given dictionaries
def concate_Dictionary(samp_dict1,samp_dict2):
  samp_dict1.update(samp_dict2)
  return samp_dict1

#intializing given Dictionaries
inpt_dict1 = {"1":10,"2":20}
inpt_dict2 = {"3":30,"4":40}
inpt_dict3 = {"5":50,"6":60}

#Calling the above functions and printing results 
concatenated_dict = inpt_dict2.copy()
concatenated_dict = concate_Dictionary(concate_Dictionary(inpt_dict1,inpt_dict2),inpt_dict3)
print("Result from above three dicts concatenation: \n", concatenated_dict)

Resulte from above three dicts concatenation:
 {'1': 10, '2': 20, '3': 30, '4': 40, '5': 50, '6': 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here

# Using funtions to check if an element exists within a tuple
def element_exists(samp_element, samp_tuple):
  print("Input element and tuple are : ", samp_element,samp_tuple)
  if samp_element in samp_tuple:
    print("Element does exists")
  else:
    print("Element does not exists")

#intializing sample tuples and elements to verify
tuple1 = ("Hello","Python","World")
tuple2 = (9,8,7)

#Calling the above function and printing results 
element_exists("Python",tuple1)
element_exists(9,tuple2)
element_exists(9,tuple1)
element_exists("Python",tuple2)

Input element and tuple are :  Python ('Hello', 'Python', 'World')
Element does exists
Input element and tuple are :  9 (9, 8, 7)
Element does exists
Input element and tuple are :  9 ('Hello', 'Python', 'World')
Element does not exists
Input element and tuple are :  Python (9, 8, 7)
Element does not exists

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here

# Using funtions to find Maximum and Minimum values in a set
def max_Or_Min_Val(samp_set):
  return (max(samp_set),min(samp_set))

#intializing sample sets
set1 = {i for i in range(1,25)}
set2 = {66, 24, 99, 100, 102}

#Calling the above function and printing results 
print(set1)
print("Maximum value in the set is : ", max_Or_Min_Val(set1)[0])
print("Minimum value in the set is : ", max_Or_Min_Val(set1)[1])
print(set2)
print("Maximum value in the set is : ", max_Or_Min_Val(set2)[0])
print("Minimum value in the set is : ", max_Or_Min_Val(set2)[1])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}
Maximum value in the set is :  24
Minimum value in the set is :  1
{66, 99, 100, 102, 24}
Maximum value in the set is :  102
Minimum value in the set is :  24

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here
import random

# Using a funtion to randomly divide into 4 groups
def random_4groups(samp_list):
  students_per_grp = len(samp_list)//4;
  print("No. of students in a group as per total strength : ",students_per_grp)
  for i in range(4):
    grouped_students = random.sample(samp_list,k=students_per_grp)
    samp_list = [i for i in samp_list if i not in grouped_students]
    print("Students in Group "+str(i+1)+" are : ", grouped_students)

#intializing given student_list
student_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

#Calling the above function to divide and print each group's students
random_4groups(student_list)

No. of students in a group as per total strength :  8
Students in Group 1 are :  ['mk0830', 'ss1872', 'lba0043', 'km0738', 'bs0490', 'hr0178', 'ss1872', 'dp1080']
Students in Group 2 are :  ['vmb0067', 'ag1121', 'hn0139', 'sm1515', 'vk0222', 'al0787', 'vk0216', 'sa0753']
Students in Group 3 are :  ['ps0501', 'ap0975', 'tbl0041', 'ak0860', 'pb0283', 'ss1976', 'ry0104', 'am1823']
Students in Group 4 are :  ['vcd0017', 'an0521', 'pt0218', 'vp0241', 'rp0477', 'laa0240', 'mj0396', 'tpk0023']